@import "colors"
@import "bootstrap"
@import "grid"
@import "multiselect"
@import "tabs"
@import "scss/fontawesome.scss"
@import "scss/solid.scss"
@import "scss/regular.scss"

$parent_menu_items: 4
$sub_menu_items: 3

*
    padding: 0  
    margin: 0
    box-sizing: border-box

a
    color: $black

html, body 
    margin: 0
    padding: 0


/*****PAGES****/
nav
    background-color: $lightPink  !important
    margin-top: -55px
    @include size (small-down)
        margin-top: 0
#logo
    width: 100%
    float: left
    position: fixed
    top: 0
    margin: 3em 1.5em
    z-index: 1030
    @include size (small-down)
        margin: 15px auto
    img
        width: 600px
        @include size (small-down)
            width: 70%
            float: none
            margin-top: 0
            
.sticky-top
    padding-bottom: 10px
    
.smaller #logo
    position: fixed
    z-index: 1030
    float: left
    margin: 10px 30px
    @include size(small-down)
            margin: 0
            float: none
    img
        width: 30%
        @include size (Xlarge)
                width: 20%
        @include size (small-down)
            width: 60%
            float: left
            margin: 15px 10px 0 0

    
/****HOME PAGE ***/
        
.home
    background-image: url("../images/background.jpg")
    background-size: contain
    background-repeat: no-repeat
    @include size (small-down)
        background-image: url("../images/background-mobile.png")
        height: 640px
        background-size: cover
    nav
        float: right
        clear: both
        background-color: #00004d
        margin-top: 200px
        padding-bottom: 15px
        @include size (small-down)
            margin-top: 110px
            // position: relative    
            // right: -46px    
    .navHome
        width: 100%
        @include size (small-down)
            position: fixed
            top: -110px
    #logo
        float: right
        width: 100%
        margin-top: 80px
        img
            float: right
            width: 700px
            margin-right: 15px
            @include size (small-down)
                margin: auto
                width: 90%
                float: none
    .smaller #logo
        position: fixed
        z-index: 1030
        float: left
        margin: 10px 30px
        @include size(small-dowm)
            margin: 0
            float: none
        img
            width: 30%
            float: left
            @include size (Xlarge)
                width: 20%
            @include size (small-down)
                width: 72%
                float: left
                margin: 15px 10px 0 0
    

    #wrapper
        margin-top: 10px
        @include size (small-down)
               margin-top: 50px
        .card
            border: none
            text-align: left
            padding-bottom: 50px  
            background: none 
            .card-body
                padding: .2em
                h4
                    color: $darkBlue
                    margin-left: 10px
                h5
                    color: $black
                    margin-left: 10px
                    border-bottom: 1px $lightPink solid  
                
.home-search
    padding-top: 210px
    padding-bottom: 70px
    clear: both
    margin-bottom: 50px
    @include size (Xlarge)
        padding-top: 40em
    @include size (large)
        padding-top: 14em
    @include size (medium)
        padding-top: 100px
    @include size (small-down)
        display: inline-block
        clear: both
        padding-bottom: 0
        
        
    .input-group
        background-color: $lightPink
        border-radius: 5px
        border: 1px $lightYellow solid
        padding: 10px
        .input-group-text
            background-color: rgba(219, 182, 175, 0)
            border: none
            margin-right: 70px
            font-weight: 500
        .custom-select 
            margin-right: 30px
            background: none
            background-color: $lightGray
            border-radius: 5px
            border: 1px $lightYellow solid
            @include size (small-down)
                margin: auto
        .btn.btn-secondary
            background-color: $lightGray
            border-radius: 5px
            border: 1px $lightYellow solid
            max-width: 135px
            height: 50px
            text-align: left
            clear: both
            @include size (meduim)
                width: 100%
            @include size(small-down)
                margin-bottom: 10px
                width: 100%
            
            
.suggested-search
    background-color: $lightPink
    border: 1px $lightYellow solid
    border-radius: 5px
    color: $white
    clear: both
    display: inline-block
    margin-top: 2em
    @include size (small-down)
        // margin-left: -15px !important
        display: inline-block
        clear: both
        width: 100%
    .input-group-text
        background-color: rgba(219, 182, 175, 0)
        border: none
        margin-right: 70px
        font-weight: 500
    p
        text-align: justify
    .suggest-right
        padding: 15px 0 15px 0
        button
            margin-right: 23px
            margin-bottom: 30px
            background-color: $lightGray
            max-width: 150px
            white-space: normal
            border-radius: 5px
            border: 1px $lightYellow solid
            height: 50px
            padding: 0
            @include size (small-down)
                margin: 10px auto
            &:hover
                color: $black
            &:nth-child(1), &:nth-child(3)
                @include size (medium)
                    margin-right: 50px
                @include size (small-down)
                    // margin-right: 40px
            &:nth-child(2) , &:nth-child(4)
                @include size (medium)
                    margin-right: 100px
                @include size (small-down)
                    // margin-right: 70px
            
            
                


/***** Pages Detaile , Membership, Cotact us, Login ***/
header 
    .card-img-top
        @include size (small-down)
            max-width: 150%
#wrapper
    margin: 20px auto
    
    &.detail
        img
            width: 260px
            float: right
            @include size (small-down)
                width: 100%
                float: none
                margin: 0 auto
        .top-info
            border-bottom: 1px solid $pink
            padding-bottom: 10px
            margin-left: 10px
            h4
                color: $darkBlue
                display: block
                margin-top: 60px
                @include size (small-down)
                    margin-top: 10px
            h5
                color: $black
                margin-top: -6px
            .pronouns
                float: right
                clear: right
        .contactinfo
            float: left
        .hours
            float: right
            @include size (small-down)
                float: none
            // &.d-flex
            ul
                margin-right: 30px
                @include size (small-down)
                    margin: 0 auto 10px -55px
                li
                    list-style: none
                    &::before
                        content: ""
        .d-flex
            @include size (small-dowm)
                display: block !important
            ul
                margin-right: 40px
                @include size (small-down)
                    margin: 0 auto
                li
                    list-style: none
                    &::before
                        content: "- "
    .highlight
        border-bottom: 2px solid $pink
        margin-top: 30px
        padding-bottom: 5px
        font-weight: bold
        font-size: 18px
    ul
        margin-right: 40px
        @include size (small-down)
            margin: 0 auto
        li
            list-style: none  
            margin-right: 30px 
            // &::before
            //     content: "- "  
    .values
        p
            column-count: 2 
            @include size (small-down)
                column-count: 1
    .row
        margin-top: 12px
        clear: both
        width: 100%
        margin-left: 0
        @include size(small-down)
            margin: 0 auto
    .container , .container-fluid
        @include size (small-down)
            padding: 0
            margin: 0
    &.contact, &.login  
        background-color: $lightYellow
        border-radius: 5px
        .highlight
            font-size: 24px
            color: $darkBlue
    &.contact
        padding: 10px 5px 50px 5px

    &.membership ,&.leasinfo
        #oval 
            width: 280px
            height: 100px
            background: #666666
            margin: auto
            margin-top: -10px
            shape-outside: content-box
            -moz-border-radius: 140px / 50px
            -webkit-border-radius:  140px / 50px
            border-radius:  140px / 50px
            p
                text-align: center
                padding-top: 24px
                color: $yellow
                font-weight: bold
        .top-info
            border-bottom: 2px solid $pink
            margin-top: 30px
            padding-bottom: 10px
            @include size (small-down)
                display: block !important
        .bottom-info
            border-bottom: 2px solid $pink
            line-height: 4
        a
            color: $black
        h4, h5
            color: $darkBlue
        b
            a
                color: $black
    &.membership
        ul
            li
                font-size: 16px
                font-weight: 700
                line-height: 2.5
                color: $darkBlue
                &::before
                    content: "-"
    &.dashboard
        h3 
            clear: both
        .top-tabs
            background-color: $lightYellow
            .btn
                background-color: none !important
        .ui-tabs
            @include size (small-down)
                min-width: 114%
        .ui-tabs .ui-tabs-panel
            background-color: $lightYellow
            @include size (medium)
                min-width: 118%
                margin-left: -71px
            @include size (small)
                min-width: 27em
                margin-left: -50px
            @include size (Xsmall)
                min-width: 20em
                margin-left: -48px

        .ui-tabs .ui-tabs-nav, .ui-widget.ui-widget-content
            background: none !important
            border: 0
            padding: 0
            button
                background-color: $gray !important
                border-radius: 10px
                color: $black
            ul
                @include size (medium)
                    margin-left: -71px
                @include size (small-down)
                    margin-left: -50px
        .top-tabs-dash
            line-height: 3
            text-align: center
            li 
                margin: 0
                min-width: 200px
                border-radius: 10px 10px 0 0
                font-weight: bold
                border: 0
                padding-bottom: 0
                @include size (medium)
                    min-width: 100px
                @include size (small)
                    min-width: 80px
                @include size (Xsmall)
                    min-width: 20px
            .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
                background-color: #f6ead9 !important
                min-width: 200px
                text-align: center
                color: $darkBlue
                border-radius: 10px 10px 0 0
                font-weight: bold
                @include size (medium)
                    min-width: 100px
                @include size (small)
                    min-width: 80px
                @include size (Xsmall)
                    min-width: 20px
            .ui-tabs .ui-tabs-nav .ui-tabs-anchor
                text-align: center
        .ui-state-active, .ui-widget-content .ui-state-active
            background-color: $darkBlue !important
            margin-bottom: 0 !important
        .ui-tabs .ui-tabs-nav .ui-tabs-anchor
            min-width: 200px
            background-color: $gray
            border-radius: 10px 10px 0 0
            @include size (medium)
                min-width: 100px
            @include size (small)
                min-width: 80px
            @include size (Xsmall)
                min-width: 20px
        .accordion-content 
            // max-width: 900px
            width: 90%
            background-color: $lightBlue2 !important
            margin-bottom: 15px
            @include size (Xlarge)
                margin-left: 100px
            @include size (large)
                margin-left: 5em
            @include size (medium)
                margin-left: 0
                width: 100%
            @include size (small-down)
                width: 100%
        .ui-accordion .ui-accordion-content
            padding: 1em 0
            
        .ui-state-default, .ui-widget-content .ui-state-defaul
            background-color: $lightBlue2 !important
            
        .saveButton
            clear: both
        #practice
            .input-group-prepend
                margin-right: -5px
            .input-group-text 
                white-space: pre-wrap
        #calendar 
            border: 0
            width: 100%
            height: 795px
            background-color: white
        .ui-widget .ui-widget
            h3
                &::before
                    float: right
                    font-family: FontAwesome
                    content: "\f170"
                    font-size: 1.5em 
        // input[type=checkbox]

        //     /* Might want to wrap a span around your checkbox text */
        //     .checkboxtext       /* Checkbox text */
        //         font-size: 110%;
        //         display: inline
            
#footer
    background-color: $darkBlue
    color: $white
    font-size: 14px
    clear: both
    .top
        background-color: $lightBlue
        width: 100%
        .logo
            max-width: 450px
            margin: 0 auto
            background-color: none
            padding: 10px
    .container
        max-width: 1300px
        margin-top: 45px
        margin-left: auto
        @include size (medium)
            text-align: center
            margin: auto
        @include size (small-down)
            text-align: center
            
        .first
            margin-left: -1px
            margin-right: -10px
           
        .last
            text-align: center
            margin: 0 auto
            display: block
            @include size (medium)
                position: relative
             
            h6
                padding-left: 2em
                @include size (small-down)
                    padding-left: 10em

        .contactus
            display: block
        .other-counseling
            font-weight: bold
        .middle
            @include size (small-down)
                text-align: center !important
        .footer-text
            line-height: 2
            list-style-type: none
            a
                color: $white
                list-style-type: none
                display: block
            img
                @include size (small-down)
                    display: block
                    margin: auto
        a
                color: $white
                list-style-type: none    
    .row
        margin: auto
        h6.other-services
            @include size (small-down)
                margin-left: 33%
#copyright
    text-align: center
    border-top: 1px solid $pink
    padding: 10px
        

    

